---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Guidance and Forgiveness" class="p-4">
  <main class="h-screen grid place-items-center bg-white p-4 font-inter">
    <a
      href=""
      class="bg-white px-4 py-2 text-sm rounded-md text-zinc-700 font-bold absolute z-10 left-1/2 -translate-x-1/2 top-8 md:top-1/4 -rotate-12"
      >Github</a
    >
    <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full gap-4">
      <a
        class="absolute grid place-items-center font-inter bg-white w-[168px] h-[168px] rounded-full text-lg font-semibold text-white z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        "
        href="#"
        r
        ><div
          class="w-36 h-36 rounded-full bg-[#09B96D] text-center grid place-items-center"
        >
          <h1>Guidance <br /> & <br /> Forgiveness</h1>
        </div></a
      >
      <a
        class="bg-[#F5F5F7] rounded-xl group text-xl sm:text-2xl lg:text-3xl relative font-bold w-full h-full grid place-items-center"
        href="/istighfar/"
      >
        <div
          class="text-center flex flex-col text-[#231F20] gap-4 z-10 relative"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -top-14 right-0 rotate-45 group-hover:rotate-0 opacity-0 group-hover:opacity-100 group-hover:translate-x-4 translate-y-4 group-hover:translate-y-0 text-emerald-500 size-5 transition duration-300 ease-out sm:size-6 md:size-10"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M10.5 3a4.48 4.48 0 0 0-4.13 6.27C5.5 10.12 5 11.28 5 12.5C5 15 7 17 9.5 17c.5 0 1-.11 1.5-.28V21h2v-5.23c.5.14 1 .23 1.5.23a5.5 5.5 0 0 0 5.5-5.5A5.5 5.5 0 0 0 14.5 5h-.26C13.41 3.76 12 3 10.5 3m0 2c1.32 0 2.41 1.03 2.5 2.35c.46-.23 1-.35 1.5-.35a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5c-.96 0-1.87-.39-2.54-1.09A2.49 2.49 0 0 1 9.5 15A2.5 2.5 0 0 1 7 12.5c0-1.38.8-1.96 2-2.71c-.8-1.03-1-1.63-1-2.29A2.5 2.5 0 0 1 10.5 5"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -top-10 -right-10 rotate-45 group-hover:rotate-0 opacity-0 group-hover:opacity-100 group-hover:translate-x-4 md:group-hover:translate-x-8 translate-y-4 delay-75 group-hover:translate-y-0 text-emerald-500 size-5 transition duration-200 ease-out sm:size-6 md:size-10"
            viewBox="0 0 24 24"
            ><g fill="none">
              <path
                d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"
              ></path><path
                fill="currentColor"
                d="M16.5 3.206A5 5 0 0 1 18.716 9.2a5.002 5.002 0 0 1-3.926 8.755c.044.37.05.754.02 1.127c-.075.885-.376 1.897-1.103 2.624a1 1 0 0 1-1.497-1.32l.083-.094c.273-.273.472-.76.523-1.376q.014-.168.012-.328a5 5 0 0 1-7.544-5.79a5.002 5.002 0 0 1 4.917-8.515a5 5 0 0 1 6.3-1.078ZM11.498 5.88l-.096.156a1 1 0 0 1-1.366.366a3 3 0 1 0-3 5.196a1 1 0 0 1 .366 1.366a3 3 0 0 0 5.196 3a1 1 0 0 1 1.366-.366a3 3 0 0 0 3.156-5.1l-.156-.096a1 1 0 0 1-.366-1.366a3 3 0 0 0-5.1-3.156M12 9.5a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3"
              ></path></g
            ></svg
          >
          <h2>Sayyidul Istighfar</h2>
          <h2>سَيِّدُ الاِسْتِغْفَار</h2>
        </div>
      </a>
      <a
        class="bg-[#F5F5F7] rounded-xl group text-xl sm:text-2xl lg:text-3xl group relative font-bold w-full h-full grid place-items-center"
        href="/istikhara/"
      >
        <div class="text-center flex flex-col text-[#231F20] gap-4 relative">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -top-14 right-0 rotate-45 group-hover:rotate-0 opacity-0 group-hover:opacity-100 group-hover:translate-x-4 translate-y-4 group-hover:translate-y-0 text-emerald-500 size-5 transition duration-300 ease-out sm:size-6 md:size-10"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M10.5 3a4.48 4.48 0 0 0-4.13 6.27C5.5 10.12 5 11.28 5 12.5C5 15 7 17 9.5 17c.5 0 1-.11 1.5-.28V21h2v-5.23c.5.14 1 .23 1.5.23a5.5 5.5 0 0 0 5.5-5.5A5.5 5.5 0 0 0 14.5 5h-.26C13.41 3.76 12 3 10.5 3m0 2c1.32 0 2.41 1.03 2.5 2.35c.46-.23 1-.35 1.5-.35a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5c-.96 0-1.87-.39-2.54-1.09A2.49 2.49 0 0 1 9.5 15A2.5 2.5 0 0 1 7 12.5c0-1.38.8-1.96 2-2.71c-.8-1.03-1-1.63-1-2.29A2.5 2.5 0 0 1 10.5 5"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -top-10 -right-10 rotate-45 group-hover:rotate-0 opacity-0 group-hover:opacity-100 group-hover:translate-x-4 md:group-hover:translate-x-8 translate-y-4 delay-75 group-hover:translate-y-0 text-emerald-500 size-5 transition duration-200 ease-out sm:size-6 md:size-10"
            viewBox="0 0 24 24"
            ><g fill="none">
              <path
                d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"
              ></path><path
                fill="currentColor"
                d="M16.5 3.206A5 5 0 0 1 18.716 9.2a5.002 5.002 0 0 1-3.926 8.755c.044.37.05.754.02 1.127c-.075.885-.376 1.897-1.103 2.624a1 1 0 0 1-1.497-1.32l.083-.094c.273-.273.472-.76.523-1.376q.014-.168.012-.328a5 5 0 0 1-7.544-5.79a5.002 5.002 0 0 1 4.917-8.515a5 5 0 0 1 6.3-1.078ZM11.498 5.88l-.096.156a1 1 0 0 1-1.366.366a3 3 0 1 0-3 5.196a1 1 0 0 1 .366 1.366a3 3 0 0 0 5.196 3a1 1 0 0 1 1.366-.366a3 3 0 0 0 3.156-5.1l-.156-.096a1 1 0 0 1-.366-1.366a3 3 0 0 0-5.1-3.156M12 9.5a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3"
              ></path></g
            ></svg
          >
          <h2>Istikhara</h2>
          <h2>صَلَاةُ الاِسْتِخَارَة</h2>
        </div></a
      >
    </div>
  </main>
</Layout>
