---
import ContainerLayout from "../layouts/ContainerLayout.vue";
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>Istikhara</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>
<ContainerLayout client:load>
  <section
    class="font-noto-sans-bengali pt-8 pb-32 text-zinc-800 dark:text-gray-100"
  >
    <p class="text-base font-bold text-emerald-500">ইস্তেখারার দোয়া</p>
    <p class="text-3xl mt-6 leading-10">
      اللَّهُمَّ إِنِّي أَسْتَخِيرُكَ بِعِلْمِكَ وَأَسْتَقْدِرُكَ بِقُدْرَتِكَ
      وَأَسْأَلُكَ مِنْ فَضْلِكَ الْعَظِيمِ فَإِنَّكَ تَقْدِرُ وَلاَ أَقْدِرُ
      وَتَعْلَمُ وَلاَ أَعْلَمُ وَأَنْتَ عَلاَّمُ الْغُيُوبِ اللَّهُمَّ إِنْ
      كُنْتَ تَعْلَمُ أَنَّ هَذَا الأَمْرَ خَيْرٌ لِي فِي دِينِي وَمَعِيشَتِي
      وَعَاقِبَةِ أَمْرِي فِي عَاجِلِ أَمْرِي وَآجِلِهِ فَيَسِّرْهُ لِي ثُمَّ
      بَارِكْ لِي فِيهِ وَإِنْ كُنْتَ تَعْلَمُ أَنَّ هَذَا الأَمْرَ شَرٌّ لِي
      فِي دِينِي وَمَعِيشَتِي وَعَاقِبَةِ أَمْرِي فِي عَاجِلِ أَمْرِي وَآجِلِهِ
      فَاصْرِفْهُ عَنِّي وَاصْرِفْنِي عَنْهُ وَاقْدُرْ لِيَ الْخَيْرَ حَيْثُ
      كَانَ ثُمَّ أَرْضِنِي بِهِ
    </p>
    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">উচ্চারণ :</span> ‘আল্লাহুম্মা
      ইন্নি আসতাখিরুকা বিইলমিকা ওয়া আসতাকদিরুকা বিকুদরাতিকা ওয়া আসআলুকা মিন ফাদলিকাল
      আজিমি ফাইন্নাকা তাকদিরু ওয়া লা আকদিরু ওয়া তালামু ওয়া লা আলামু ওয়া আংতা আল্লামুলগুয়ুব;
      আল্লাহুম্মা ইন কুনতা তালামু আন্না হাজাল আমরা (এখানে নিজের ইচ্ছা, কাজ বা পরিকল্পনার
      কথা বলা) খাইরুন লি ফি দ্বীনি ওয়া মায়িশাতি ওয়া আক্বিবাতি আমরি ফি আঝিলি আমরি
      ফি আঝেলে আমরি ওয়া আঝেলিহি ফাইয়াসসিরহু লি ছুম্মা বারিক লি ফিহি ওয়া ইন কুনতা
      তালামু আন্না হাজাল আমরা (এখানে নিজের ইচ্ছা, কাজ বা পরিকল্পনার কথা বলা) শাররুন
      লি ফি দ্বীনি ওয়া মায়িশাতি ওয়া আক্বিবাতি আমরি ফি আঝেলে আমরি ওয়া আঝেলিহি ফাসরিফহু
      আন্নি ওয়াসরিফনি আনহু ওয়াক্বদুরলিয়াল খাইরা হাইছু কানা ছুম্মা আরদিনি বিহি।’ (এখানেও
      নিজের ইচ্ছা, কাজ বা পরিকল্পনার কথা বলা)
    </p>

    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">অর্থ :</span>
      ‘হে আল্লাহ! আমি তোমার জ্ঞানের সাহায্য চাইছি, তোমার শক্তির সাহায্য চাইছি এবং
      তোমার মহান অনুগ্রহ চাইছি। তুমিই শক্তি ও ক্ষমতার অধিকারী, আমার কোনো ক্ষমতা নেই।
      তুমি অফুরন্ত জ্ঞানের অধিকারী, আমার কোনো জ্ঞান নেই। তুমি অদৃশ্য বিষয়ে সম্পূর্ণরূপে
      ও সম্যকভাবে জানো। হে আল্লাহ! তুমি যদি এ কাজটি আমার জন্য, আমার দ্বীনের দৃষ্টিকোণ
      থেকে, আমার জীবন যাপনের ব্যাপারে এবং আমার কাজের পরিণামের দিক থেকে অথবা আমার
      দুনিয়া ও আখিরাতের ব্যাপারে ভালো মনে কর; তবে তা আমার জন্য নির্দিষ্ট করে দাও
      এবং আমার জন্য সহজ করে দাও।’ (বুখারি)
    </p>

    <p class="mt-6 text-base font-bold text-emerald-500">
      ইস্তেখারার নামাজ ও নিয়ম
    </p>

    <p class="mt-6 leading-8 text-lg">
      নতুন কোনো কাজ শুরু করার আগে ইস্তেখারা করতে হয়। এ জন্য কল্যাণ কামনায় ইঙ্গিত
      পেতে ইস্তেখারা নামাজ পড়া আবশ্যক। আরবি ইস্তেখারার অর্থ হলো- কল্যাণ
      প্রার্থনা করা বা এমন কিছু প্রার্থনা করা যাতে কল্যাণ রয়েছে। তাই কাজটি
      কল্যাণ হবে কিনা ইশারা-ইঙ্গিত পেতে ইস্তেখারার নিয়তে দুই রাকাআত নামাজ ও দোয়া
      পড়ার মাধ্যমে আল্লাহর কাছে বিশেষ প্রার্থনাই হলো ইস্তেখারা।
    </p>

    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500"
        >ইস্তেখারা করার হুকুম কী?</span
      >
      <br /> ইস্তেখারা করা সুন্নাত। প্রিয় নবি সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম গুরুত্বসহকারে
      ইস্তেখারা করার বিষয়ে দিকনির্দেশনা দিয়েছেন। হাদিসে এসেছে- হজরত জাবের ইবনু আব্দুল্লাহ
      রাদিয়াল্লাহু আনহু বর্ণনা করেন, রাসুলুল্লাহ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম
      আমাদের যেভাবে কুরআনের সুরা শেখাতেন; ঠিক সেভাবে (গুরুত্বের সঙ্গে) প্রতিটি কাজের
      আগে আমাদের ইস্তেখারা (কল্যাণ প্রার্থনা) করার শিক্ষা দিতেন। শায়খুল ইসলাম আল্লামা
      ইবনে তায়মিয়া রাহমাতুল্লাহি আলাইহি ইস্তেখারা সম্পর্কে বলেন, ‘ওই ব্যক্তি অনুতপ্ত
      হবে না; যে আল্লাহর কাছে ইস্তেখারা বা কল্যাণ কামনা করে, মানুষের সঙ্গে পরামর্শ
      করে সিদ্ধান্ত নেয় এবং তার উপর অটল-অবিচল থাকে।; কেননা আল্লাহ তাআলা পরামর্শের
      আলোকে কাজ করার কথা বলেছেন এভাবে :
    </p>

    <p class="mt-6 leading-8 text-lg">
      وَشَاوِرْهُمْ فِي الأَمْرِ فَإِذَا عَزَمْتَ فَتَوَكَّلْ عَلَى اللّهِ إِنَّ
      اللّهَ يُحِبُّ الْمُتَوَكِّلِينَ ‘আর তুমি সিদ্ধান্তের ক্ষেত্রে মানুষের
      সঙ্গে পরামর্শ কর। এরপর আল্লাহর উপর ভরসা করে (সিদ্ধান্তে অটল থাক)। নিশ্চয়ই
      আল্লাহ (তার ওপর) ভরসাকারীদেরকে ভালোবাসেন।’ (সুরা আল-ইমরান : আয়াত ১৫৯)
    </p>

    <p class="mt-6 leading-8 text-lg">
      হজরত কাতাদা রাহমাতুল্লাহি আলাইহি বলেন, ‘মানুষ যখন আল্লাহ তাআলার সন্তুষ্টির
      উদ্দেশ্যে পরস্পরে পরামর্শ করে তখন আল্লাহ তাআলা তাদেরকে সব চেয়ে সঠিক
      সিদ্ধান্তে পৌঁছার তাওফিক দেন।’
    </p>

    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">ইস্তেখারা কখন করতে হয়?</span>
      <br /> ইসলামের নির্দেশনা হলো যে কোনো নতুন কাজ শুরু করার আগে ইস্তেখারা করে নেওয়া।
      আর কোনো করতে গিয়ে যদি কেউ দ্বিধা-দ্বন্দ্বে পড়ে যায়; তবে সঠিক সিদ্ধান্ত নিতে
      ইস্তেখারা করার বিকল্প নেই। সুন্নাতের অনুসরণে ইস্তেখারা করলে মহান আল্লাহ তাআলা
      বান্দাকে সঠিক সিদ্ধান্ত গ্রহণের ইঙ্গিত প্রদান করেন। তাই নতুন যে কোনো কাজ কিংবা
      কাজের সঠিক সিদ্ধান্ত পেতে ইস্তেখারা কীভাবে করতে হবে তাও বলে দিয়েছেন স্বয়ং বিশ্বনবি।
      সুতরাং বিয়ে-শাদী, চাকরি-বাকরি, ব্যবসা-বাণিজ্য কিংবা বিদেশ-সফরের বিষয়ে ইস্তেখারা
      করতে হয়।
    </p>

    <div class="mt-6 leading-8 text-lg">
      <p class="mt-4">
        ইস্তেখারা করার নিয়ম যেহেতু ইস্তেখারা করা সুন্নাত। আর ইস্তেখারা মানুষের
        জন্য অনেক কল্যাণের। সেহেতু ইস্তেখারা করার জন্য উত্তম হলো:
      </p>

      <ul
        class="space-y-3 mt-4 marker:text-emerald-500 text-lg list-outside list-disc ml-6"
      >
        <li>নামাজের শুরুতে ভালোভাবে ওজু করে নেওয়া।</li>
        <li>
          ইস্তেখারার উদ্দেশ্যে দুই রাকাআত নামাজ পড়তে হয়। এ ক্ষেত্রে সুরা ফাতেহার
          পরে যে কোন সুরা পড়া যায়।
        </li>
        <li>
          নামাজের সালাম ফেরানোর পর আল্লাহ তাআলার বড়ত্ব ও মর্যাদার কথা মনে করে
          একান্ত বিনয় ও আন্তরিকতার সঙ্গে দোয়া পড়া।
        </li>
      </ul>
      <p class="mt-4">
        হাদিসে এসেছে- রাসুলুল্লাহ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম বলতেন, যখন
        তোমাদের কেউ কোনো কাজের ইচ্ছা করে তখন সে যেন ফরজ নামাজ ছাড়া দুই রাকাআত
        নামাজ আদায় করে নেয়। এরপর (এই) বলে (দোয়া করে)-
      </p>
    </div>

    <p class="mt-6 text-2xl leading-10">
      اللَّهُمَّ إِنِّي أَسْتَخِيرُكَ بِعِلْمِكَ وَأَسْتَقْدِرُكَ بِقُدْرَتِكَ
      وَأَسْأَلُكَ مِنْ فَضْلِكَ الْعَظِيمِ فَإِنَّكَ تَقْدِرُ وَلاَ أَقْدِرُ
      وَتَعْلَمُ وَلاَ أَعْلَمُ وَأَنْتَ عَلاَّمُ الْغُيُوبِ اللَّهُمَّ إِنْ
      كُنْتَ تَعْلَمُ أَنَّ هَذَا الأَمْرَ خَيْرٌ لِي فِي دِينِي وَمَعِيشَتِي
      وَعَاقِبَةِ أَمْرِي فِي عَاجِلِ أَمْرِي وَآجِلِهِ فَيَسِّرْهُ لِي ثُمَّ
      بَارِكْ لِي فِيهِ وَإِنْ كُنْتَ تَعْلَمُ أَنَّ هَذَا الأَمْرَ شَرٌّ لِي
      فِي دِينِي وَمَعِيشَتِي وَعَاقِبَةِ أَمْرِي فِي عَاجِلِ أَمْرِي وَآجِلِهِ
      فَاصْرِفْهُ عَنِّي وَاصْرِفْنِي عَنْهُ وَاقْدُرْ لِيَ الْخَيْرَ حَيْثُ
      كَانَ ثُمَّ أَرْضِنِي بِهِ
    </p>

    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">উচ্চারণ :</span> ‘আল্লাহুম্মা
      ইন্নি আসতাখিরুকা বিইলমিকা ওয়া আসতাকদিরুকা বিকুদরাতিকা ওয়া আসআলুকা মিন ফাদলিকাল
      আজিমি ফাইন্নাকা তাকদিরু ওয়া লা আকদিরু ওয়া তালামু ওয়া লা আলামু ওয়া আংতা আল্লামুলগুয়ুব;
      আল্লাহুম্মা ইন কুনতা তালামু আন্না হাজাল আমরা (এখানে নিজের ইচ্ছা, কাজ বা পরিকল্পনার
      কথা বলা) খাইরুন লি ফি দ্বীনি ওয়া মায়িশাতি ওয়া আক্বিবাতি আমরি ফি আঝিলি আমরি
      ফি আঝেলে আমরি ওয়া আঝেলিহি ফাইয়াসসিরহু লি ছুম্মা বারিক লি ফিহি ওয়া ইন কুনতা
      তালামু আন্না হাজাল আমরা (এখানে নিজের ইচ্ছা, কাজ বা পরিকল্পনার কথা বলা) শাররুন
      লি ফি দ্বীনি ওয়া মায়িশাতি ওয়া আক্বিবাতি আমরি ফি আঝেলে আমরি ওয়া আঝেলিহি ফাসরিফহু
      আন্নি ওয়াসরিফনি আনহু ওয়াক্বদুরলিয়াল খাইরা হাইছু কানা ছুম্মা আরদিনি বিহি।’ (এখানেও
      নিজের ইচ্ছা, কাজ বা পরিকল্পনার কথা বলা)
    </p>

    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">অর্থ :</span>
      ‘হে আল্লাহ! আমি তোমার জ্ঞানের সাহায্য চাইছি, তোমার শক্তির সাহায্য চাইছি এবং
      তোমার মহান অনুগ্রহ চাইছি। তুমিই শক্তি ও ক্ষমতার অধিকারী, আমার কোনো ক্ষমতা নেই।
      তুমি অফুরন্ত জ্ঞানের অধিকারী, আমার কোনো জ্ঞান নেই। তুমি অদৃশ্য বিষয়ে সম্পূর্ণরূপে
      ও সম্যকভাবে জানো। হে আল্লাহ! তুমি যদি এ কাজটি আমার জন্য, আমার দ্বীনের দৃষ্টিকোণ
      থেকে, আমার জীবন যাপনের ব্যাপারে এবং আমার কাজের পরিণামের দিক থেকে অথবা আমার
      দুনিয়া ও আখিরাতের ব্যাপারে ভালো মনে কর; তবে তা আমার জন্য নির্দিষ্ট করে দাও
      এবং আমার জন্য সহজ করে দাও।’ (বুখারি)
    </p>

    <div class="mt-6 leading-8 text-lg">
      <p class="font-semibold text-emerald-500">
        তবে ইস্তেখারার জন্য রয়েছে কিছু করণীয়:
      </p>

      <ul
        class="space-y-3 mt-4 marker:text-emerald-500 text-lg list-outside list-disc ml-6"
      >
        <li>ছোট-বড় সব বিষয়ে ইস্তেখারা করার অভ্যাস গড়ে তোলা সুন্নাতি আমল।</li>
        <li>
          ইস্তেখারার বিষয়ে দৃঢ়ভাবে বিশ্বাস করা যে, আল্লাহ আপনাকে যে কাজ করার
          তাওফিক দিয়েছেন তাতেই আপনার কল্যাণ নিহিত রয়েছে। তাই একান্ত মনোযোগ
          সহকারে স্থির চিত্তে এবং আল্লাহর মহত্ব ও বড়ত্বের কথা স্মরণ করে তার কাছে
          দোয়া করা।
        </li>
        <li>ইস্তেখারা তাড়াহুড়া না করা।</li>
        <li>
          যেসব সময়ে সাধারণ নফল নামাজ পড়া নিষিদ্ধ; সে সময়ে ইস্তেখারার নামাজ পড়া
          থেকে বিরত থাকা।
        </li>
        <li>
          নারীদের ঋতুস্রাব (মাসিক) কিংবা সন্তান প্রসব জনিত রক্ত প্রবাহের
          (নেফাসের) সময় ইস্তেখারার নামাজ পড়া থেকে বিরত থাকা। এ সময় নারীদের
          ইস্তেখারার প্রয়োজন হলে ভালোভাবে ওজু করে ইস্তেখারার নিয়তে শুধু দোয়া
          পড়া।
        </li>
        <li>
          ইস্তেখারার দোয়া মুখস্থ না থাকলে দেখে দেখে পড়া। তবে মুখস্থ পড়া ভালো।
        </li>
        <li>
          ইস্তেখারা করার পর নির্ধারিত বিষয়ের ওপর স্বপ্ন দেখা আবশ্যক নয়। স্বপ্নের
          মাধ্যমেও সঠিক জিনিসটি যেমন জানার সুযোগ আছে আবার নির্ধারিত বিষয়টির
          প্রতি মনের ঝোঁক বা আগ্রহও ইস্তেখারা বা কল্যাণের ইঙ্গিত।
        </li>
        <li>
          নির্ধারিত কাজের প্রতি মনের আগ্রহ বা ঝোঁক বেড়ে গেলে ইস্তেখারার ইঙ্গিত
          হিসেবে মেনে নিয়ে পরামর্শের আলোকে দৃঢ়ভাবে কাজে এগিয়ে যাওয়া উচিত।
        </li>
        <li>
          ইস্তেখারার নিয়তে নামাজ পড়ার পরও সঠিক সিদ্ধান্তে পৌঁছতে না পারলে
          একাধিকবার ইস্তেখারার নিয়তে নামাজ পড়াও বৈধ।
        </li>
        <li>
          ইস্তেখারার নিয়তে নামাজ পড়ার পড় হাদিসে উল্লেখিত নিয়ম অনুযায়ী দোয়া পড়া।
          তাতে কোনো শব্দ বাড়ানো বা কমানোর ব্যাপারে সতর্ক থাকা।
        </li>
        <li>
          ইস্তেখারার নিয়তে নামাজ ও দোয়ার পাশাপাশি কাঙ্ক্ষিত বিষয়টি নিয়ে অভিজ্ঞতা
          সম্পন্ন, সৎ ও বিশ্বস্ত ব্যক্তির সঙ্গে পরামর্শ করাও উত্তম।
        </li>
        <li>
          যার কাজ তাকেই ইস্তেখারার নামাজ ও দোয়া পড়তে হবে। একজনের পক্ষে অন্যজন
          ইস্তেখারার নামাজ ও দোয়া করতে পারবে না।
        </li>
      </ul>
    </div>

    <p class="mt-6 leading-8 text-lg">
      আল্লাহ তাআলা মুসলিম উম্মাহ যথাযথভাবে সঠিক সিদ্ধান্তে পৌঁছতে হাদিসের
      দিকনির্দেশনা অনুযায়ী ইস্তেখারার নিয়তে নামাজ ও দোয়া পড়ার তাওফিক দান করুন।
      কুরআন-সুন্নাহর আমল অনুযায়ী নতুন কাজ ও সিদ্ধান্ত গ্রহণ করার তাওফিক দান
      করুন। আমিন।
    </p>
  </section>
</ContainerLayout>
