---
import ContainerLayout from "../layouts/ContainerLayout.vue";
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>test</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>
<ContainerLayout client:load>
  <section
    class="font-noto-sans-bengali pt-8 pb-32 text-zinc-800 dark:text-gray-100"
  >
    <p class="text-base font-bold text-emerald-500">
      সায়্যিদুল ইস্তিগফার (সকাল-সন্ধ্যায় ১ বার)
    </p>
    <p class="text-3xl leading-10 mt-6">
      اللهُم أَنْتَ رَبِّي لَا إِلَهَ إِلَّا أَنْتَ، خَلَقْتَنِي، وَأَنَا
      عَبْدُكَ، وَأَنَا عَلَى عَهْدِكَ وَوَعْدِكَ مَا اسْتَطَعْتُ اَعُوْذُبِكَ
      مِنْ شَرِمَا صَنَعْتُ اَبُوْءُ لَكَ بِنِعْمَتِكَ عَلَى، وَأَبُوءُ لَكَ
      بِذَنْبِي . فَاغْفِرْي. فَإِنَّهُ لَا يَغْفِرُ الذُّنُوبَ إِلَّا أَنْتَ.
    </p>
    <p class="mt-6 leading-8 text-lg">
      <span class="font-semibold text-emerald-500">উচ্চারণ:</span> আল্লা-হুম্মা আনতা
      রাব্বী, লা ইলা-হা ইল্লা আনতা, খালাক্বতানী, ওয়া আনা আবদুকা, ওয়া আনা 'আলা আহদিকা
      ওয়া ওয়া'দিকা মাস্তাত্বাতু। আউযু বিকা মিন শাররি মা সানা'তু, আবূউ লাকা বিনি'মাতিকা
      *আলাইয়্যা, ওয়া আবূউ লাকা বিযাম্বী। ফাগফির লী ফাইনাহ্ লা- য়াগফিরুয যুনূবা
      ইল্লা আনতা ।
    </p>

    <p class="mt-6 text-lg">
      <span class="font-semibold text-emerald-500">অর্থ:</span> হে আল্লাহ, আপনি আমার
      প্রতিপালক, আপনি ছাড়া কোনো হক ইলাহ নেই। আপনি আমাকে সৃষ্টি করেছেন এবং আমি আপনার
      বান্দা। আর আমি আমার সাধ্যানুযায়ী আপনার (তাওহীদের) অঙ্গীকার ও (জান্নাতের) প্রতিশ্রুতির
      ওপর রয়েছি। আমার কৃতকর্মের অনিষ্ট থেকে আপনার কাছে আশ্রয় চাই। আমার প্রতি আপনার
      প্রদত্ত নিয়ামত স্বীকার করছি। আর আপনার কাছে আমার পাপকর্মেরও স্বীকারোক্তি দিচ্ছি।
      অতএব আপনি আমাকে মাফ করুন। নিশ্চয় আপনি ছাড়া আর কেউ গুনাহসমূহ মাফ করতে পারেনা।
    </p>
    <p class="mt-6 text-lg">
      <span class="font-semibold text-emerald-500">ফযীলত:</span> দৃঢ় বিশ্বাসের সাথে
      সকাল এবং সন্ধ্যায় পাঠ করলে সেদিনে বা রাতে মারা গেলে নিশ্চিতভাবে জান্নাতী হবে।
    </p>
  </section>
</ContainerLayout>
