---
// Container layout component
const { title } = Astro.props; // Extract the title from props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="body">
    <main class="">
      <section class="mx-auto w-full max-w-screen-xl">
        <slot />
      </section>

      <div class="absolute bottom-10 left-1/2 -translate-x-1/2">
        <div
          id="theme-popup"
          class="flex flex-col items-start w-full max-w-32 p-1 mb-2 shadow bg-white rounded-md border"
        >
          <button
            class="py-1.5 text-start px-2 rounded-md hover:bg-gray-100 w-full"
            >Light</button
          >
          <button
            class="py-1.5 text-start px-2 rounded-md hover:bg-gray-100 w-full"
            >Yellow</button
          >
          <button
            class="py-1.5 text-start px-2 rounded-md hover:bg-gray-100 w-full"
            >Dark</button
          >
        </div>
        <nav class="bg-emerald-500 rounded-full p-2 flex space-x-4">
          <button class="text-white hover:bg-gray-700 p-2 rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-type w-5 h-5"
              ><polyline points="4 7 4 4 20 4 20 7"></polyline><line
                x1="9"
                x2="15"
                y1="20"
                y2="20"></line><line x1="12" x2="12" y1="4" y2="20"></line></svg
            ><span class="sr-only">Appearance</span></button
          ><button
            id="btn-toggle"
            class="text-white hover:bg-gray-700 p-2 rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-moon"
              ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
            ><span class="sr-only">Ligght/Dark Mode</span></button
          ><button
            id="btn-toggle"
            onclick="toggleTheme('yellow')"
            class="text-white hover:bg-gray-700 p-2 rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-align-justify w-5 h-5"
              ><line x1="3" x2="21" y1="6" y2="6"></line><line
                x1="3"
                x2="21"
                y1="12"
                y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
            ><span class="sr-only">Menu</span></button
          ><button class="text-white hover:bg-gray-700 p-2 rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-settings w-5 h-5"
              ><path
                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
              ></path><circle cx="12" cy="12" r="3"></circle></svg
            ><span class="sr-only">System Settings</span></button
          >
        </nav>
      </div>
    </main>

    <script>
      console.log("Welcome, browser console!");
      // Function to toggle the theme
      // const toggleTheme = (theme) => {
      //   document.body.className =
      //     theme === "light"
      //       ? "bg-white text-black"
      //       : theme === "dark"
      //         ? "bg-gray-900 text-white"
      //         : "bg-yellow-300 text-black";
      //   localStorage.setItem("theme", theme); // Store theme in local storage
      // }

      const storedTheme =
        typeof localStorage !== "undefined"
          ? localStorage.getItem("theme")
          : "light";
      let showThemePopup = false;

      const btnToggle = document.getElementById("btn-toggle");
      const themePopup = document.getElementById("theme-popup");
      const body = document.getElementById("body");

      btnToggle.addEventListener("click", () => {
        showThemePopup = !showThemePopup;

        if (showThemePopup) {
          themePopup.classList.add("hidden");
          
        } else {
          themePopup.classList.remove("hidden");
        }
      });

      // class={storedTheme === "light"
      // ? "bg-white text-black"
      // : storedTheme === "dark"
      //   ? "bg-gray-900 text-white"
      //   : "bg-[#F9F8F4] text-black"}

      function toggleTheme(theme) {
        document.body.className =
          theme === "light"
            ? "bg-white text-black"
            : theme === "dark"
              ? "bg-gray-900 text-white"
              : "bg-[#F9F8F4] text-black";
        localStorage.setItem("theme", theme); // Store theme in local storage
      }

      // const btnToggle = document.getElementById("btn-toggle")

      // btnToggle.addEventListener("click", () => {
      //   document.body.className =
      //     theme === "light"
      //       ? "bg-white text-black"
      //       : theme === "dark"
      //         ? "bg-gray-900 text-white"
      //         : "bg-yellow-300 text-black";
      //   localStorage.setItem("theme", theme); // Store theme in local storage
      // })
    </script>
  </body>
</html>
